
<div class="cadastroTela">
    <img class="cadastroImage" src="assets/cadastro-user.png" alt="cadastro de usuário">
    
    <div class="cadastroForm">
        <h2 class="projetoTitulo">Tecendo <br> Arte</h2>
        <h3 class="cadastroTitulo">Crie sua conta</h3>

        <div class="cadastroCampos">
            <p>Nome</p>
            <input id="userNome" type="text" placeholder="Digite seu nome">

            <p>E-mail</p>
            <input id="userEmail" type="text" placeholder="Digite seu e-mail">

            <p>Senha</p>
            <input id="userSenha" type="password" placeholder="Digite sua senha">

            <p>Confirmar senha</p>
            <input id="userConfirmaSenha" type="text" placeholder="Confirme sua senha">
        </div>
    </div>
</div>

