.cadastroTela {
    display: flex;
}

.cadastroImage {
    width: 50vw;
    height: auto;
    max-height: 100vh;
}

.cadastroForm {
    width: 50vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

.cadastroTitulo {
    text-align: center;
}