<div class="container">
   
         <section class="content">
        <h1 class="title">Bem-vindo</h1>
        <p class="content-text">Nosso time</p>
        <p class="content-text">Quem somos</p>
        <p class="content-text">Como funciona</p>
    </section>

    <section class="content">
        <h1 class="title">Apoie</h1>
        <p class="content-text">Nosso time</p>
        <p class="content-text">Quem somos</p>
        <p class="content-text">Como funciona</p>
    </section>

    <section class="content">
        <h1 class="title">Redes sociais</h1>
        <div class="social-medias">
            <img class="media" src="../../assets/icons/X.png" alt="">
            <img class="media" src="../../assets/icons/Facebook.png" alt="">
            <img class="media" src="../../assets/icons/Instagram.png" alt="">
        </div>
    </section>

    <section class="content">
        <h1 class="title">Faça uma campanha</h1>
        <p class="content-text">Comece seu projeto</p>
    </section>  
   
    
    <section class="content">
        <img src="../../assets/imgs/Logo-footer.png" alt="">
        <p class="logo-text">© 2025 | Todos os direitos reservados</p>

    </section>


</div>
