<form class="form" (ngSubmit)="submit()" [formGroup]="emailForm">
    <label class="label" for="email">E-mail</label>
    <input
        class="input"
        [class.invalid]="submitted && email.invalid"
        formControlName="email"
        placeholder="email@exemplo.com"
        required
    />
    <div *ngIf="submitted && email.hasError('required')" class="validation">
        Campo obrigatório
    </div>
    <button class="button-style" type="submit">
        Enviar link de redefinição de senha
    </button>
</form>