@import '../../assets/scss/colors.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(1rem, 1.11vw, 1.5rem) 0;
  width: 100%;
}

.label {
  align-self: flex-start;
  font-weight: normal;
  margin-bottom: clamp(0.5rem, 0.56vw, 1rem);
}

.input {
  align-self: flex-start;
  width: 100%;
  padding: clamp(0.75rem, 1vw, 1.25rem);
  font-size: 1rem;
  border: 0.0625rem solid $pink-4;
  margin-bottom: clamp(0.75rem, 0.83vw, 1rem);
  font-weight: normal;
  border-radius: 0.5rem;

  &::placeholder {
    color: $brown-1;
    opacity: 1;
  }

  &:focus {
    outline: none;
    border-color: $pink-4;
  }

  &.invalid {
    border: 0.0625rem solid $red;
    margin-bottom: 0.15rem;
  }
}

.button-style {
  margin-top: clamp(0.75rem, 0.9vw, 1rem);
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  font-weight: normal;
  font-family: inherit;
  color: white;
  background-color: $pink-3;
  text-align: center;
  border: none;
  cursor: pointer;
  width: fit-content;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.938rem -0.313rem $pink-hover;

}

.button-style:hover {
  background-color: $pink-hover;
}

.validation {
  color: $red;
  margin-top: 0.05rem;
  align-content: start;
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
}