@use '../../assets/scss/colors' as c;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(1rem, 1.11vw, 1.5rem) 0;
  width: 45rem;
}

.label {
  align-self: flex-start;
  font-weight: normal;
  margin-bottom: clamp(0.5rem, 0.56vw, 1rem);
}

.input {
  align-self: flex-start;
  width: 100%;
  padding: clamp(0.75rem, 1vw, 1.25rem);
  font-size: 1rem;
  border: 0.0625rem solid c.$pink-2;
  margin-bottom: clamp(0.75rem, 0.83vw, 1rem);
  font-weight: normal;
  border-radius: 0.5rem;

  &::placeholder {
    color: c.$brown-2;
    opacity: 1;
  }

  &:focus {
    outline: none;
    border-color: c.$pink-2;
  }

  &.invalid {
    border: 0.0625rem solid c.$red-1;
    margin-bottom: 0.15rem;
  }
}

.button-style {
  margin-top: clamp(0.75rem, 0.9vw, 1rem);
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  font-weight: normal;
  font-family: inherit;
  color: c.$white-1;
  background-color: c.$pink-4;
  text-align: center;
  border: none;
  cursor: pointer;
  width: fit-content;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.938rem -0.313rem c.$pink-1;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.button-style:hover {
  background-color: c.$pink-1;
  transform: translateY(-2px);
}

.validation {
  color: c.$red-1;
  margin-top: 0.05rem;
  align-content: start;
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
}

:host ::ng-deep .toast-message {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  color: c.$white-1;
  text-align: center;
  padding: 0.2em 0;
}