@use '../../assets/scss/colors' as c;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex: 1;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url('/assets/images/Esqueci_Senha.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  width: 50vw;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: clamp(2rem, 6vw, 6.41vw) 2.625rem;
  max-width: 50rem;
  margin: 0 auto;
  width: 100%;
}

.logo {
  font-family: 'Sail', cursive;
  color: c.$brown-1;
  font-weight: normal;
  line-height: 0.8;
  font-size: clamp(2rem, 3vw, 3.5rem);
  text-align: center;
}

.message-forgot {
  margin-top: 2vh;
}

.message {
  text-align: center;
  font-weight: bold;
  margin: clamp(0.5rem, 0.83vw, 1rem) 0 clamp(1rem, 1.39vw, 2rem);
  color: c.$pink-1;
  font-size: clamp(1.25rem, 2vw, 2rem);
}

.h3 {
  text-align: center;
  font-weight: normal;
  font-size: clamp(0.9rem, 1.1vw, 1.25rem);
  margin-bottom: clamp(1rem, 1.04vw, 1.5rem);
}