<div class="container">
  <div class="background"></div>
  <div class="content">
    <div>
      <h1 class="logo">Tecendo <br> Arte</h1>
    </div>
    <div class="message-forgot">
      <h2 class="message">Esqueceu a senha?</h2>
      <p class="p">Insira o e-mail para receber um link de redefinição de senha.</p>
    </div>
      <form class="form">
        <label class="label" for="email">E-mail</label>
        <input class="input" id="email" type="email" placeholder="email@exemplo.com" required>
        <button class="button-style" type="submit">Enviar link de redefinição de senha</button>
      </form>
  </div>
</div>