@import '../../assets/scss/colors.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.content {
  justify-content: center;
  margin-top: 9.44vh;
}

.background {
  background-image: url('/assets/images/Esqueci_Senha.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100vh;
  width: 50%;
  height: 100%;
}

.logo {
  font-family: Sail, cursive;
  color: $pink-2;
  font-weight: normal;
  line-height: 1;
  font-size: 3vw;
  text-align: center;
}

.message-forgot {
  margin-top: 2.71vh;
}

.message {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.39vw;
  margin-top: 0.83vw;
  color: $pink-1;
  font-size: 1.94vw;
}

.p {
  text-align: center;
  font-size: 1.11vw;
  font-weight: regular;
  margin-bottom: 1.04vw;
}

.form {
  align-items: center;
  padding: 0.83vw 0;
  display: flex;
  flex-direction: column;
  //width: 100%; /* opcional, mas ajuda no alinhamento */
}

.label {
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: 0.56vw;
  font-weight: normal;
}

.input {
  align-self: flex-start;
  width: 100%;
  padding: 1.04vw;
  font-size: 1rem;
  margin-bottom: 0.83vw;
  font-weight: normal;
}

.button-style {
  margin-top: 0.90vw;
  width: 18.125vw;
  height: 1.640625vw;
  background-color: $pink-3;
  font-weight: normal;
  font-family: inherit;
  text-align: center;
}