.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.background {
  background-image: url('/app/assets/images/Esqueci_Senha.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  width: 50%;
  height: 100vh;
}