$pink-1: #945261;
$pink-2: #E3D0D0; //rosa das bordas dos botões
$pink-3: #E8C9CD; //rosa dos botões
$pink-4: #e5b3b8; //hover dos botões

$white: #FFFFFF;
$gray-1: #F1EBE4; //fundo mais claro
$gray-2: #E9E4DE;
$gray-3: #FBF9F9;
$black: #000000;

$brown-1: #8B6954;
$brown-2: #674422;



