$pink-1: #945261;
$pink-2: #E3D0D0;
$pink-3: #E8C9CD; 
$pink-4: #e5b3b8;
$pink-5: #B77C79;

$white: #FFFFFF;
$gray-1: #F1EBE4; 
$gray-2: #E9E4DE;
$gray-3: #FBF9F9;
$gray-4: #F9F5F0;
$gray-5: #F5F5DC;
$gray-6: #F3EEE8;
$black: #000000;


$brown-1: #8B6954;
$brown-2: #674422;

$white-1: #FBF9F9;

$black-1: #171712;

$red-1: #B34747;
