@font-face {
  font-family: 'Yusei Magic';
  src: url('../fonts/yusei-magic/YuseiMagic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sail';
  src: url('../fonts/sail/Sail-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Jakarta Sans';
    src: url('/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Yusei Magic', sans-serif; 
}


