
<div class="cadastroTela">
    <div >
        <img class="cadastroImage" src="assets/cadastro-user.png" alt="cadastro de usuário">
    </div>
    
    <div class="cadastroForm">
        <form [formGroup]="formCadastro">
            <h2 class="projetoTitulo">Tecendo <br> Arte</h2>
            <h3 class="cadastroTitulo">Crie sua conta</h3>

            <div class="cadastroCampos">
                <label for="userNome">Nome</label>
                <input id="userNome" type="text" placeholder="Digite seu nome" formControlName="userNome">
            </div>

            <div class="cadastroCampos">
                <label for="userEmail">E-mail</label>
                <input id="userEmail" type="text" placeholder="Digite seu e-mail" formControlName="userEmail">
            </div>

            <div class="cadastroCampos">
                <label for="userSenha">Senha</label>
                <input id="userSenha" type="password" placeholder="Digite sua senha" formControlName="userSenha">
            </div>

            <div class="cadastroCampos">
                <label for="userConfirmaSenha">Confirmar senha</label>
                <input id="userConfirmaSenha" type="password" [class.erroCampo]="formCadastro.controls['userConfirmaSenha'].errors?.['mustMatch']" placeholder="Confirme sua senha" formControlName="userConfirmaSenha">
                
                @if (
                        formCadastro.controls['userConfirmaSenha'].dirty && 
                        formCadastro.controls['userConfirmaSenha'].errors?.['mustMatch']
                    ) {
                    <div class="erroMsg">
                        As senhas não coincidem
                    </div>
                }
            </div>

            <div class="botoesForm">
                <button>Cadastrar</button>
                <button (click)="irParaLogin()">Já tenho conta!</button>
            </div>
        </form>
    </div>
</div>

