<!--Tornar um componente futuramente-->
@if (mensagem) {
    <div class="alerta-erro" [class.show]="mostrar">
      <span>{{ mensagem }}</span>
      <button class="fechar" (click)="fechar()">X</button>
    </div>
}

<div class="cadastroTela">
    <div class="imageSide">
        <img class="cadastroImage" src="assets/cadastro-user.png" alt="cadastro de usuário">
    </div>
    
    <div class="formSide">
        <form class="cadastroForm" (ngSubmit)="submit()" [formGroup]="formCadastro">
            <h2 class="projetoTitulo">Tecendo <br> Arte</h2>
            <h3 class="cadastroTitulo">Crie sua conta</h3>

            <div class="cadastroCampos">
                <label for="nome">Nome</label>
                <input id="nome" type="text" [class.erroCampo]="formCadastro.controls['nome'].invalid && verificado" placeholder="Digite seu nome" formControlName="nome">
            </div>

            <div class="cadastroCampos">
                <label for="email">E-mail</label>
                <input id="email" type="text" [class.erroCampo]="formCadastro.controls['email'].hasError('email') || (formCadastro.controls['email'].invalid && verificado)" placeholder="Digite seu e-mail" formControlName="email">
            </div>

            <div class="cadastroCampos">
                <label for="senha">Senha</label>
                <input id="senha" type="password" [class.erroCampo]="formCadastro.controls['senha'].hasError('minlength') || (formCadastro.controls['senha'].invalid && verificado)" placeholder="Digite sua senha" formControlName="senha">

                @if (formCadastro.controls['senha'].hasError('minlength')) {
                    <div class="erroMsg">
                        Senha deve ter no mínimo 8 caracteres
                    </div>
                }
            </div>

            <div class="cadastroCampos">
                <label for="confirmaSenha">Confirmar senha</label>
                <input id="confirmaSenha" type="password" [class.erroCampo]="formCadastro.controls['confirmaSenha'].errors?.['mustMatch'] || (formCadastro.controls['confirmaSenha'].invalid && verificado)" placeholder="Confirme sua senha" formControlName="confirmaSenha">
                
                @if (
                        formCadastro.controls['confirmaSenha'].dirty && 
                        formCadastro.controls['confirmaSenha'].errors?.['mustMatch']
                    ) {
                    <div class="erroMsg">
                        As senhas não coincidem
                    </div>
                }
            </div>

            <div class="seletorConta">
                <label>Tipo de Conta:</label>

                <div>
                    <input id="usr" type="radio" formControlName="tipoConta" value="USUARIO" />
                    <label for="usr">Apoiador</label>
                </div>

                <div>
                    <input id="art" type="radio" formControlName="tipoConta" value="ARTISTA" />
                    <label for="art">Artista</label>
                </div>
            </div>

            <div class="botoesForm">
                <button type="submit">Cadastrar</button>
                <button (click)="irParaLogin()">Já tenho conta!</button>
            </div>
        </form>
    </div>
</div>

