@use 'sass:color';
@use '../../assets/scss/colors' as c;

.cadastroTela {
    display: flex;
}

.imageSide {
    width: 50vw;
    max-height: 100vh;
}

.cadastroImage {
    display: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formSide {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.cadastroForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0 5.5rem;
}

.projetoTitulo {
    text-align: center;
    font-size: 42px;
    font-family: 'Sail', cursive;
    font-weight: 400;
    line-height: 0.8;
    color: c.$brown-1;
    margin-bottom: 0;
    margin-top: 0.3rem;
}

.cadastroTitulo {
    text-align: center;
    font-size: 25px;
    color: c.$pink-1;
    font-family: 'Yusei Magic';
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.8rem;
}

.cadastroCampos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.3rem;

    label {
        font-size: 1rem;
        font-family: 'Yusei Magic';
        font-weight: normal;
        font-weight: 500;
        color: c.$black-1;
        margin-bottom: 0.5rem;
    }

    input {
        border: 1px solid c.$pink-2;
        border-radius: 6px;
        background-color: c.$white-1;
        padding: 12px 15px;
        font-size: 16px;

        &::placeholder {
            color: c.$brown-2;
            opacity: 1;
            font-family: 'Yusei Magic';
        }

        &:focus {
            outline: none;
            border-color: color.adjust(c.$pink-2, $lightness: -10%);
            box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
        }
    }
}

.erroCampo {
    border-color: red;
    box-shadow: 0 0 4px red;
}

.cadastroCampos input.erroCampo:focus {
    border-color: red;
    box-shadow: 0 0 4px red;
}

.erroMsg {
    color: red;
}

.alerta-erro {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: c.$pink-1;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  .fechar {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
}

.seletorConta {
    display: flex;
    width: 100%;
    margin-bottom: 1.3rem;
    align-items: center;
    margin-top: -0.5rem;
    gap: 1.2rem;

    label {
        font-size: 1rem;
        font-family: 'Yusei Magic';
        font-weight: normal;
        font-weight: 500;
        color: c.$black-1;
    }

    input {
        font-size: 1rem;
    }
}

.botoesForm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    gap: 1rem;

    button {
        background-color:c.$pink-5;
        border: none;
        border-radius: 6px;
        padding: 10px 60px;
        color: white;
        font-family: 'Yusei Magic';
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        transition: transform 0.2s ease, background-color 0.2s ease;

        &:hover {
           transform: translateY(-2px);
           background-color:c.$pink-1;
        }

        &:active {
            transform: translateY(0);
        }
    }
}