<div class="project-layout">
    <app-header></app-header>
    <div class="background"></div>
    <div>
        <div class="retangle">
            <h1>Fluxo de Criação de Projeto</h1>
            <nav>
            <a routerLink="create">Intro</a> |
            <a routerLink="info">Info</a> |
            <a routerLink="reward">Reward</a>
                </nav>
            <main class="content">
                <!-- Aqui os filhos serão renderizados -->
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
    <app-footer></app-footer>
</div>


