<div class="container">
  <div>
    <h1 class="tittle">Imagens do projeto</h1>
  </div>
  <form [formGroup]="form">
    <div formArrayName="imagens">
      <div *ngFor="let imagem of imagens.controls; let i = index" [formGroupName]="i" class="form-group">
        <div class="form-row">
          <label for="imagens-{{i}}">Upload da imagem {{i + 1}}</label>
          <input 
            type="file" 
            id="imagens-{{i}}" 
            formControlName="dadosImagemBase64"
            (change)="onFileChange($event, i)"
            accept="image/*">
        </div>
        <div class="form-row">
          <label for="descricao-{{i}}">Descrição da imagem {{i + 1}}</label>
          <input type="text" id="descricao-{{i}}" formControlName="descricao">
        </div>
      </div>
    </div>
  </form>
  <div class="button-style">
    <button class="buttom" type="button" (click)="next()">Avançar</button>
  </div>
</div>